.contact-page {
   p {
      margin-bottom: 30px;

      span img {
         margin-right: 5px;
      }
   }

   strong {
      color: $light-gray;
   }

   input, textarea {
      border-radius: 0;
   }

   .form-wrap {
      background: #fff;
      box-shadow: $deep-shadow;
      padding: 50px;

      .field {
         p {
            display: none;
         }
      }
   }

   .right-column {
      @include from($widescreen) {
         padding-left: 100px;
         @include flex(flex-start, center);
      }
   }

   .wpcf7-list-item.first.last {
      margin-left: 0;
   }
}
