.contact-page {
   p {
      margin-bottom: 30px;

      span img {
         margin-right: 5px;
      }
   }

   strong {
      color: $light-gray;
   }

   input, textarea {
      border-radius: 0;
   }

   .form-wrap {
      background: #fff;
      box-shadow: $deep-shadow;
      padding: 50px;
   }
}

input[type="checkbox"] {
   position: relative;
   margin-right: 5px;

   &:before {
      content: '';
      width: 17px;
      height: 17px;
      border: 1px solid $light-gray;
      background: #fff;
      position: absolute;
      top: -2px;
      left: 0;
   }

   &:checked {
      &:before {
         background: url('assets/images/checked.png');
         border-color: $brand-color;
      }
   }
}