.featured-event {
   padding-bottom: 50px;
}

.events {
   &-intro {
      margin-bottom: 30px;
   }

   &-list {
      padding-bottom: 20px;

      .post-list > .column {
         margin-bottom: 25px;
      } 
   
      .featured-event {
         @include until($tablet) {
            display: none;
         }
      }
   } 
}