.footer {
   padding: 50px 0 0 0;
   img {
      margin-bottom: 10px;
   }
   h4 {
      color: $light-gray;
      font-size: 18px;
      margin-bottom: 10px;
      
      @include until($tablet) {
         text-align: center;
      }
   }

   @include until($tablet) {
      p {
         text-align: center;
      }

      .column {
         @include flex-column(flex-start, center);
      }
   }

   .top-footer {
      padding: 0 25px 50px 25px;

      img {
         width: 70px;
         filter: grayscale(1);
      }

      ul {
         display: flex;
         li {
            a {
               color: $light-gray;
               text-transform: uppercase;
               font-size: 13px;
               padding: 15px;
               font-weight: bold;

               &:hover {
                  color: $brand-color;
               }

               @include until($tablet) {
                  padding-left: 7px;
                  padding-right: 7px;
               }
            }
         }

         @include until($tablet) {
            flex-wrap: wrap;
            justify-content: center;
         }
      }
   }

   .bottom-footer {
      padding: 30px 25px;
      border-top: $simple-border;
      
      p {
         font-size: 13px;
         opacity: 0.7;
      }

      ul {
         display: flex;
         font-size: 13px;

         li {
            a {
               padding: 15px;
               color: $light-gray;
               opacity: 0.7;
               white-space: nowrap;

               &:hover {
                  opacity: 1;
               }

               @include until($tablet) {
                  padding-left: 7px;
                  padding-right: 7px;
               }
            }
         }

         @include until($tablet) {
            flex-wrap: wrap;
            justify-content: center;
         }
      }
   }

   @include until($tablet) {
      justify-content: center;
   }
}