.introduction {
   background: url('assets/images/introduction_bg.jpg');
   background-position-x: center;
   background-size: contain;
   background-repeat: no-repeat;

   .columns {
      height: 520px;

      @include until($desktop) {
         height: 400px;
      }

      @include until($tablet) {
         height: auto;
      }
   }

   &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include until($desktop) {
         display: none;
      }
   }

   &-content {
      position: relative;
      height: 100%;
      @include flex(flex-start, center);

      h2 {
         margin-bottom: 25px;
         
         @include until($tablet) {
            text-align: center;
         }
      }

      p {
         max-width: 530px;
         margin-bottom: 25px;

         @include until($tablet) {
            max-width: 100%;
         }
      }

      .top-right-img {
         position: absolute;
         top: 0;
         right: 0;

         @media screen and (max-width: 1300px) {
            display: none;
         }
      }

      @include until($tablet) {
         display: block;
      }

      @include from($tablet) {
         padding-left: 50px;
      }
   }

   @include until($tablet) {
      background: none;

      .card {
         box-shadow: none;
      }
   }

   @include from($tablet) {
      padding-top: 140px;
      padding-bottom: 140px;
   }
}