.partner-slider {

   .partner {
      @include flex(center, center);
      padding: 0 50px;
      outline: none !important;

      img {
         filter: grayscale(100%);
         opacity: 0.5;
         width: 100%;
      }
   }
   .slick-track {
      @include flex(null, center);
   }
}