.products-page-content {
   & > .container {
      background: url('assets/images/oats.png');
      background-size: 100% auto;

      @include until($tablet) {
         background: none;
      }
   }
}

.product-item {
   align-items: center;

   .card {
      max-height: 300px;
      padding: 55px 65px;

      @include until($tablet) {
         box-shadow: none;
         padding: 20px 20px 55px 20px;
      }
   }

   &:nth-of-type(even) {
      flex-direction: row-reverse;
   }

   &-img {
      padding-left: 12%;
      padding-right: 12%;
      width: 432px;
      
     /* img {
         width: 100%;
         height: auto;
      }*/

      @include until($tablet) {
         padding-left: 20%;
         padding-right: 20%;
      }
   }
}

.products-page-hero {
   background: url('assets/images/koelln.jpg');
   background-size: cover;
   position: relative;

   @include from($tablet) {
      background-attachment: fixed;
   }

   .hero-subtitle {
      text-transform: uppercase;
   }

   .curly {
      position: absolute;
      bottom: -1%;
      width: 101%;

      img {
         width: 100%;
      }

      @include until($tablet) {
         bottom: -3%;
      }
   }
}
