.single-content {
   img {
      width: 100%;
      max-height: 550px;
      object-fit: cover;
      margin-bottom: 30px;
      margin-top: 30px;
      box-shadow: $deep-shadow;
   }

   span {
      display: block;
      font-weight: bold;
   }

   hr {
      width: 4%;
      margin-left: auto;
      margin-right: auto;
      background-color: $brand-color;
      height: 5px;
   }
}

.single-recipe {
   h1 {
      margin-bottom: 30px;
   }

   .preparation {
      max-width: 960px;
      margin-bottom: 60px;
      margin-left: auto;
      margin-right: auto;
   }

   .more-recipes {
      .columns {
         margin-bottom: 45px;
      }
   }

   @include until($desktop) {
      h2 {
         text-align: center;
      }
   }
}