.testimonials {   
   background: url('assets/images/breakfast.jpg');
   background-size: cover;
   position: relative;
   margin: 50px 0;

   .container {
      @include flex-column(center, center);
   }

   h2 {
      color: white;
      font-family: $script-font;
      font-size: 35px;
      font-weight: bold;
      margin-bottom: 20px;

      @include until($tablet) {
         font-size: 28px;
      }
   }

   img {
      width: 25px;
      margin-bottom: 20px;
   }

   .slide {
      @include flex(center, center);
   }

   p {
      color: #fff;
      max-width: 660px;
   }

   span {
      display: block;
      margin-top: 20px;
   }

   .overlay {
      @extend .is-cover;
      background-color: rgb(0, 0, 0);
      opacity: 0.6;
   }

   &-slider {
      width: 100%;
   }

   @include from($desktop) {
      @include flex(flex-start, center);
      min-height: 520px;
   }
}

 