.button {
   text-transform: uppercase;
   font-weight: bold;
   font-size: 14px;
   min-width: 280px;
   height: 50px;

   &.is-rounded {
      padding-left: 40px;
      padding-right: 40px;
   }
}

.simple-link {
   text-transform: uppercase;
   font-size: 14px;
   font-weight: bold;
   display: block;
   margin-top: 20px;

   &:after {
      content: url('assets/images/next.svg');
      margin-left: 5px;
   }
}

.elm-button {
   @extend .button;
   @extend .is-primary;
   @extend .is-rounded;
   margin-top: 30px;
}
 