.main-slider {
   width: 100%;
   height: 760px;
   margin-bottom: 70px;

   .curly {
      position: absolute;
      bottom: 70px;
      width: 100%;

      img {
         width: 100%;
      }
   }

   &-text {
      position: absolute;
      top: 30%;
      left: 0;
      right: 0;
      z-index: 1;

      h1 {
         font-family: $script-font;
         font-size: 50px;
         text-shadow: 1.147px 1.638px 5px rgba(24, 23, 23, 0.17);
      }

      h2 {
         font-weight: 800;
         font-size: 40px;
         margin-bottom: 30px;
         text-shadow: 1.147px 1.638px 5px rgba(24, 23, 23, 0.17);
      }
   }

   &-wrap {
      height: 100%;

      .slide {
         position: relative;
         height: 100%;

         .overlay {
            background: rgba(255, 255, 255, .2);
            z-index: 1;
         }

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }

   .slick-slider {
      .slick-list {
         height: 100%;

         .slick-track {
            height: 100%;
         }
      }

      .slick-prev, .slick-next {
         z-index: 10;
         top: calc(50% - 40px);
   
         &:before {
            display: none;
         }
      }
      
      .slick-prev {
         left: 20px;
         width: 30px;
   
         img {
            transform: rotate(180deg);
         }
      }
   
      .slick-next {
         right: 20px;
         width: 30px;
      }
   
      .slick-dots {
         bottom: 80px;
         z-index: 1;
   
         li {
            margin: 0;
   
            button:before {
               color: $brand-color;
               font-size: 10px;
               line-height: 10px;
            }
         }
      }
   }
}

 
 
