.main-slider {
   width: 100%;
   height: 760px;
   margin-bottom: 70px;

   .curly {
      position: absolute;
      bottom: 70px;
      width: 100%;

      img {
         width: 100%;
      }
   }

   &-text {
      position: absolute;
      top: 30%;
      left: 0;
      right: 0;
      z-index: 1;

      h1 {
         font-family: $script-font;
         font-size: 50px;
      }

      h2 {
         font-weight: 800;
         font-size: 40px;
         margin-bottom: 30px;
      }
   }

   &-wrap {
      .slide {
         position: relative;
      }
   }

   .slick-slider {
      .slick-prev, .slick-next {
         z-index: 10;
         top: calc(50% - 10px);
   
         &:before {
            display: none;
         }
      }
      .slick-prev {
         left: 20px;
         width: 30px;
   
         img {
            transform: rotate(180deg);
         }
      }
   
      .slick-next {
         right: 20px;
         width: 30px;
      }
   
      .slick-dots {
         bottom: 40px;
         z-index: 1;
   
         li {
            margin: 0;
   
            button:before {
               color: $brand-color;
               font-size: 10px;
               line-height: 10px;
            }
         }
      }
   }
}
