.is-aligncenter {
   align-items: center;
}

.is-justifycenter {
   justify-content: center;
}

.is-justifyend {
   justify-content: flex-end;
}

.is-cover {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}