.is-aligncenter {
   align-items: center;
}

.is-justifycenter {
   justify-content: center;
}

.is-justifyend {
   justify-content: flex-end;
}

.is-alignend {
   align-items: flex-end;
}

.is-cover {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.clear-both {
   clear: both;
}

.reverse-on-small {
   @include until($tablet) {
      display: flex;
      flex-direction: column-reverse;
   }
}